---
import { themeConfig } from '@/config'
const today = new Date()
---

<footer>
  <div class="footer-content">
    <div class="copyright">
      <span class="date">
        &copy;
        {today.getFullYear()}
      </span>
      {themeConfig.site.author}
    </div>
    <div class="social-links">
      <a href="https://github.com/xyzluca">GitHub</a> •{' '}
      <a href="https://www.linkedin.com/in/lucakursawe/">LinkedIn</a> •{' '}
      <a href="https://unsplash.com/@lucasfolder">Unsplash</a>
    </div>
  </div>
</footer>
<style>
  footer {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-light);
    line-height: 1.75;
    color: var(--text-secondary);
    opacity: 0.75;
    margin-top: 4rem;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .social-links,
  .copyright,
  .powered-by {
    white-space: nowrap;
  }

  .social-links {
    order: 1;
  }

  @media (min-width: 768px) {
    .footer-content {
      flex-direction: row;
      gap: 0;
    }

    .social-links {
      order: 0;
    }
  }

  .copyright .date {
    opacity: 1;
  }

  footer a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.2s ease-out;
  }

  footer a:hover {
    color: var(--text-primary);
  }
</style>
