---
import { themeConfig } from '@/config'
const today = new Date()
---

<footer>
  <div class="footer-content">
    <div class="social-links">
      <div class="social-row">
        <a href="https://github.com/xyzluca">GitHub</a> •{' '}
        <a href="https://www.lucakursawe.xyz/rss.xml">RSS</a> •{' '}
        <a href="https://lucasfolder.substack.com/">Substack</a> •{' '}
        <a href="https://www.linkedin.com/in/lucakursawe/">LinkedIn</a> •{' '}
        <a href="https://bsky.app/profile/lucasfolder.bsky.social">Bluesky</a> •{' '}
        <a rel="me" href="https://mastodon.social/@lucasfolder">Mastodon</a>
      </div>
      <div class="social-row">
        <a href="https://threads.com/lucasfolder">Twitter</a> •{' '}
        <a href="https://unsplash.com/@lucasfolder">Unsplash</a> •{' '}
        <a href="https://www.instagram.com/lucasfolder/">Instagram</a> •{' '}
        <a href="https://www.youtube.com/@lucasfolder">YouTube</a> •{' '}
        <a href="https://tiktok.com/@lucasfoldertt">TikTok</a>
      </div>
    </div>
  </div>
  </div>
</footer>
<style>
  footer {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-light);
    line-height: 1.75;
    color: var(--text-secondary);
    opacity: 0.75;
    margin-top: 4rem;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .social-row {
    text-align: center;
  }

  .copyright,
  .powered-by {
    white-space: nowrap;
  }



  .copyright .date {
    opacity: 1;
  }

  footer a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.2s ease-out;
  }

  footer a:hover {
    color: var(--text-primary);
  }
</style>
